.badgeContainer {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: #246656;
    color: white;
    font-family: Akshar;
    font-size: 0.8em;
}