.workoutsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    gap: 15px;
}

.workoutCardContainer {
    display: flex;
    width: 100%;
    border-radius: 15px;
    background-color: #F2F2F2;
    align-items: center;
    gap: 15px;
}

.workoutCardContainerRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.workoutCardImg {
    border-radius: 15px;
    width: 99%;
    padding: 10px;
}

.workoutCardTitle > h3 {
    margin: 0px;
    line-height: 25px;
    font-family: Koulen;
    font-weight: 100;
    font-size: 1.7em;
}

.workoutCardDetails {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.workoutCardDetails > span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.workoutCardDetails > span > p {
    margin: 0;
    font-size: 1.2em;
    white-space: nowrap;
}

.workoutCardTags {
    display: flex;
    align-items: center;
    gap: 10px;

}

.cardContainerLeft > img {
    width: 100px;
}

.workoutSearchContainer {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0px;
}

.workoutSearchContainer input {
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc; /* Medium gray border */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #F2F2F2; /* Light gray input background */
    color: #333; /* Dark gray text */
    font-size: 20px; /* Increased font size for better readability */
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    font-family: Koulen;
    margin: 0;
}

.workoutSearchContainer input:focus {
    border-color: #999; /* Darker gray border on focus */
}


  @media (min-width: 600px) {
   .workoutsContainer {
        max-width: 600px;
        max-height: 1000px;
        margin: 0 auto;
   }
} 