.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #2E2E2E;
    padding: 20px 0;
    box-sizing: border-box;
  }
  
  .nav-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  @media (min-width: 600px) {
    .navigation {
        justify-content: center;
        max-width: 600px;
        margin: 0 auto;
    }
}
