.workoutIndexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 5px; 
    box-sizing: border-box;
}

h1{
    font-family: Koulen;
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0;
}

.workoutsHeader {
    width: 100%;

    display: flex;
    padding-left:5px;
    justify-content: center;

}

.workoutTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.tabButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.tabButtonActive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    background-color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #FF6D4D;
    border-radius: 10px;
    cursor: pointer;
}

.workoutTabsV2{
display: flex;
    justify-content: center;
}

.tabButtonLeft{
    font-family: Akshar, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    padding: 0.3rem;
    font-size: 1.2em;
    color: #000;
    background-color: #f0f0f0;
    border: none;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
}
.tabButtonRight{
    font-family: Akshar, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    padding: 0.3rem;
    font-size: 1.2em;
    color: #000;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}


.tabButtonActiveV2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    background-color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #FF6D4D;
    border-radius: 10px;
    cursor: pointer;
}