body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.landingContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 18px 18px;
    width: 390px;
    height: 844px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.landingWelcomeCont {
    display: flex;
    gap: 12px;
    align-items: center;

}

.landingWelcomeProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tmpStatsImg {
    width: 200px;
    height: 200px;

}

.landingStatsCont {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 18px 0px;
}

.landingPeriodCheckCont {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
}

.landingAvgStatsInnerCont {
    display: flex;
    justify-content: space-between;
    border-radius: 11px;
    background: #F2F2F2;
    align-items: center;
    padding: 18px 0px;
}

.avgStatsLeft {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 4px;
    width: 100%;
}

.avgStatsLeft > span {
    display: flex; 
    align-items: center;
    gap: 10px;
}
.avgStatsLeft > span :nth-child(2) {
    font-weight: 600;
}

.avgStatsRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dividerDiv {
    width: 1px;
    background-color: grey;
    margin: 0 12px;
    height: 100px;
}